* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    overflow: hidden;
    background-image: url(../img/Tela_Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container_logo {
    margin-top: 10%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_tela h1 {
    display: flex;
    justify-content: center;
}

.container_tela p {
    display: flex;
    justify-content: center;
}

#tela_container {
    display: flex;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background: rgba(225, 225, 225, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    min-height: 300px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    visibility: hidden;
}

#tela_container.active {
    visibility: visible;
    top: 50%;
}

#registrar_container {
    display: flex;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background: rgba(225, 225, 225, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
    min-height: 300px;
    padding: 80px 50px 50px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    visibility: hidden;
}

#registrar_container.active {
    visibility: visible;
    top: 50%;
}

.mySidenav {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.etiquetaLogin .btnLogin {
    position: relative;
    padding: 20px 70px;
    background: #fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #03a9f4;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    border: none;
    border: 1px solid #000;
    border-radius: 100px;
    right: 30px;
}

.etiquetaRegistrar .btnRegistrar {
    position: relative;
    padding: 20px 50px;
    background: #fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #03a9f4;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    border: 1px solid #000;
    border-radius: 100px;
    left: 30px;
}

.register-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registrar_container .register-box input {
    margin-top: 20px;
}

.tela_container .login-box input {
    margin-top: 20px;
}

.closebtn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: green;
}