html {
    height: 100%;
}

body {
    overflow: hidden;
    background-image: url(../img/Tela_Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container_logo {
    margin-top: 10%;
}

.logo {
    display: flex;
    justify-content: center;
}

.container_tela h1 {
    display: flex;
    justify-content: center;
}

.container_tela p {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_tela {
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.etiquetaLogin {
    height: 50%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
}

.etiquetaCadastro {
    height: 50%;
    width: 250px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
}

/* .mySidenav .btnRegistar {
    display: block;
    right: 0;
}

.mySidenav .btnLogin {
    display: block;
} */
     
.etiquetaLogin a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
}

.etiquetaCadastro a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
    outline: none;
}

.etiquetaLogin .btnLogin {
    display: block;
    padding: 6px 8px 6px 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.etiquetaCadastro .btnRegistar {
    display: block;
    padding: 6px 8px 6px 15px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.login_container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.register_container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.login-box {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 27%;
    right: 0;
    background-color: #00cccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.register-box {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 27%;
    right: -210px;
    background-color: #00cccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.closebnt {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.register-box {
    padding: 100px;
    border: 1px solid #000
}

/* .btnLogin {
    display: flex;
    top: 20%;
    width: 0;
    position: fixed;
    z-index: 1;
    padding: 5px 90px;
    right: -10px;
    font-size: 20px;
    color: #000;
    overflow-x: hidden;
    transition: 0.5s;
} */

/* .btnRegistar {
    display: flex;
    top: 30%;
    width: 0;
    position: fixed;
    z-index: 1;
    padding: 5px 90px;
    right: -10px;
    font-size: 20px;
    color: #000;
    overflow-x: hidden;
    transition: 0.5s;
} */

/* .mySidenav .btnLogin:hover {
    right: 10px;
    margin-left: none;
    padding: 50px 90px;
} */

/* .mySidenav .register_container {
    display: none;
    top: 40%;
    width: 0;
    position: fixed;
    z-index: 1;
    padding: 5px 90px;
    right: -10px;
    font-size: 20px;
    color: #000;
    overflow-x: hidden;
    transition: 0.5s;
} */

/* .mySidenav .login_container {
    display: none;
    top: 25%;
    width: 0;
    position: fixed;
    z-index: 1;
    padding: 5px 90px;
    right: -10px;
    font-size: 20px;
    color: #000;
    overflow-x: hidden;
    transition: 0.5s;
} */

.div1 {
    position: absolute;
    background-color: #ff0000;
    top: 20%;
    left: 30%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    padding: 20px 90px;
    
}

.div1 .div2 p {
    display: none;
}

.div1:hover, .div2 p:hover {
    padding: 90px 90px 90px 90px;
    display: block;
}