html {
    height: 100%;
}

body {
    background-color: #000;
    overflow: hidden;
}

.tela-login {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    margin-right: 37%;
    padding: 90px;
    background: linear-gradient(#0747a1,#1e97f3);
    animation-name: tela;
    animation-duration: 1s;
}

.tela-login h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
    color: #fff;
    font-size: 36px;
}

.tela-login p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -5%;
    color: #fff;
    font-size: 15px;
}

.tela-login .botao-escolha {
    position: relative;
    width: 100%;
    margin-bottom: 15%;
    margin-top: 30%;
}

.tela-login .button-log {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    outline: none;
    border-radius: 20px;
}

.tela-login .button-register {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    outline: none;
    border-radius: 20px;
}

.login-box {
    margin-top: -450px;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    margin-right: 37%;
    padding: 130px;
    background: linear-gradient(#0747a1,#90cbf9);
    opacity: 0;
}

.register-box {
    margin-top: -450px;
    justify-content: center;
    align-items: center;
    margin-left: 37%;
    margin-right: 37%;
    padding: 130px;
    background: linear-gradient(#0747a1,#90cbf9);
    opacity: 0;
}

@keyframes tela {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);

    }
}

.squares li {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
}

@keyframes up {
    form {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-700px) rotate(960deg);
    }
}