html {
    height: 100%;
}

body {
    overflow: hidden;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box {
    padding: 103px;
    background-color: white;
    border: 1px solid #000
}