html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #130f0d ;
    color: white;
}

.boards {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.boardquadro {
    background:#ccc;
    border: 1px solid #fd951f11;
    border-radius: 6px;
    margin: 0 16px;
    display:flex;
    justify-content:space-between;
    width: 100%;
}

.board {
    background: #ccc;
    border: 1px solid #fd951f11;
    border-radius: 4px;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
 


.board h3 {
    padding: 16px ;
    margin: 0;
    color: #fd951fcc;
}


.button {
    color: #ffffff;
    width: 45%;
    margin: 5px auto 5px auto;
    display: flex;
    justify-content:space-between;
    /* padding: 12px 15px;  */
    cursor: pointer;
}
.dropzone {
    padding: 16px;
    min-height: 300px;
    min-height: 200px;
}

.drop{
    display:flex;
    justify-content: space-between;
}

.card {
    padding: 16px;
    box-shadow:  2px 2px -1px #fd951fcc;
    width: 350px;
    height: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight:600px;
    font-size:18px;
    background-color:#1a1a1c;
}

 .status{
    width: 25px;
    height: 10px;
    margin-bottom: 14px;
    border-radius: 8px;
    background: white;
} 

.status.blue {
    background:blue;
}

.status.red {
    background:red;
}

.status.green {
    background:green;
}
.status.yellow {
    background:yellow;
} 



/* CSS DO TIMER */

.timer_container{
    background-color: #ccc;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
}

.timerDisplay{
    position: flex;
    width: 100%;
    background-color: #0048ce;     
    left: -5%; 
    padding: 2px 0; 
    font-family: 'Roboto mono',monospace;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}

.buttons{
    width: 50%;
    margin: 5px auto 10px auto;
    display: flex;
    justify-content:center;
} 

.buttons button{
    padding: 10px 18px;
    background-color: #ffffff;
    color: #141313;
    border: none;
    font-family: 'Poppings',sans-serif;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
} 