*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* rosa */
    --rosa1: #ffe0e3;
    --rosa2: #ffc0c7;
    --rosa3: #ffa0ad;
    --rosa4: #ff7d93;
    --rosa5: #ff547a;
    --rosa6: #ff0062;
    --rosa7: #d11651;
    --rosa8: #a41c41;
    --rosa9: #791c32;
    --rosa10: #511823;
    --rosa11: #2c1215;
    /* rosa */
    /* ------------------------------------------------------------------------------------------------ */
    /* laranja */
    --laranja1: #ffe4d6;
    --laranja2: #ffc8ad;
    --laranja3: #ffac86;
    --laranja4: #ff8f5f;
    --laranja5: #ff7137;
    --laranja6: #ff4e00;
    --laranja7: #d14309;
    --laranja8: #a4380d;
    --laranja9: #7a2c0f;
    --laranja10: #52210d;
    --laranja11: #2d1508;
    /* laranja */
    /* ------------------------------------------------------------------------------------------------ */
    /* azul */
    --azul1: #e5f8ff;
    --azul1_transparente: #e5f8ff80;
    --azul2: #caf2ff;
    --azul2_transparente: #ccf2ff80;
    --azul3: #adebff;
    --azul3_transparente: #adebff80;
    --azul4: #8ce4ff;
    --azul4_transparente: #8ce4ff80;
    --azul5: #62ddff;
    --azul5_transparente: #62ddff80;
    --azul6: #00d6ff;
    --azul6_transparente: #00d6ff80;
    --azul7: #1cafd0;
    --azul7_transparente: #1cafd080;
    --azul8: #2389a2;
    --azul8_transparente: #2389a280;
    --azul9: #226577;
    --azul9_transparente: #22657780;
    --azul10: #1d434e;
    --azul10_transparente: #1d434e80;
    --azul11: #152429;
    --azul11_transparente: #15242980;
    /* azul */
    /* ------------------------------------------------------------------------------------------------ */
    /* roxo */
    --roxo1: #eedbff;
    --roxo2: #dcb6ff;
    --roxo3: #c792ff;
    --roxo4: #af6dff;
    --roxo5: #9445ff;
    --roxo6: #7100ff;
    --roxo7: #600fd0;
    --roxo8: #4f14a3;
    --roxo9: #3e1577;
    --roxo10: #2d134f;
    --roxo11: #1b0e2a;
    /* roxo */
    /* ------------------------------------------------------------------------------------------------ */
    /* amarelo */
    --amarelo1: #fff8dd;
    --amarelo2: #fff1ba;
    --amarelo3: #ffea98;
    --amarelo4: #ffe474;
    --amarelo5: #ffdd4c;
    --amarelo6: #ffd700;
    --amarelo7: #d0af12;
    --amarelo8: #a38a17;
    --amarelo9: #786518;
    --amarelo10: #504315;
    --amarelo11: #2b2410;
    /* amarelo */
    /* ------------------------------------------------------------------------------------------------ */
    /* padrão */
    --branco: #fff;
    --branco_transparente: #ffffff80;
    --cinzento1: #d0d0d0;
    --cinzento1_transparente: #d0d0d080;
    --cinzento2: #a2a2a2;
    --cinzento2_transparente: #a2a2a280;
    --cinzento3: #777777;
    --cinzento3_transparente: #77777780;
    --cinzento4: #4e4e4e;
    --cinzento4_transparente: #4e4e4e80;
    --cinzento5: #292929;
    --cinzento5_transparente: #29292980;
    --preto: #000000;
    /* padrão */
    /* ------------------------------------------------------------------------------------------------ */
    /* verde */
    --verde1: #e7ffde;
    --verde2: #ceffbc;
    --verde3: #b1ff9a;
    --verde4: #90ff77;
    --verde5: #66ff4f;
    --verde6: #00ff00;
    --verde7: #1ed013;
    --verde8: #24a319;
    --verde9: #247719;
    --verde10: #1f4f16;
    --verde11: #162a10;
    /* verde */
    /* ------------------------------------------------------------------------------------------------ */
    /* ciano */
    --ciano1: #d6dde2;
    --ciano2: #aebbc7;
    --ciano3: #879bab;
    --ciano4: #607c91;
    --ciano5: #395e77;
    --ciano6: #01425e;
    --ciano7: #0a384e;
    --ciano8: #0e2d3f;
    --ciano9: #0f2430;
    --ciano10: #0e1a22;
    --ciano11: #091015;
    /* ciano */
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container
{
    position: relative;
    width: 100%;
    display: flex;
}
.navegation
{
    position: fixed;
    width: 75px;
    height: 100%;
    background: var(--azul_ciano1);
    border-left: 11px solid var(--azul_ciano1);
    border-right: 11px solid var(--azul_ciano1);
    transition: 0.5s;
    overflow: hidden;
}
.navegation.active
{
    width: 240px;
}
.navegation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navegation ul li
{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; */
    border-radius: 30px;
}
.navegation ul li:hover
{
    background: var(--branco)
}
.navegation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navegation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: var(--branco);
    align-items: center;
}
.navegation ul li:hover a
{
    color: var(--azul_ciano2);
}
.navegation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 54px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navegation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navegation ul li a .title
{
    position: relative;
    display: block;
    height: 60px;
    line-height:60px;
    text-align: center;
    white-space: nowrap;
    margin-left: 5px;
}
/* .navegation ul li:hover a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -100%;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--branco);
    pointer-events: none;
}
.navegation ul li:hover a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -100%;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--branco);
    pointer-events: none;
} */

/* topbar */
.main
{
    position: absolute;
    width: calc(100% - 75px);
    left: 75px;
    min-height: 100vh;
    background: var(--branco);
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 230px);
    left: 240px;
}
.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label
{
    position: relative;
    width: 100%;
}
.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--preto2);
}
.search label ion-icon
{
    position: absolute;
    top: -1px;
    left: 10px;
    font-size: 1.2em;
}
.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}