
*{
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container{
    width: 1000px;
    height: 85vh;
    display: flex;
}

.status {
    width: 25%;
    background-color: #f3f3f3;
    position: relative;
    padding-top: 60px;
    padding: 60px 0.5rem 1rem;
}

.status:nth-child(even){
    background-color: #ebedeb;
}

.status h1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #343434;
    color: #f3f3f3;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
}

#add_btn{
    padding: 0.5rem 1rem;
    background-color: #ccc;
    outline: none;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#add_btn:hover{
    background-color: #aaa;
}

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #fff;
    box-sizing: rgba(15,15,15,0.1) 0px 0px 0px 1px;
    /* rgba(15,15,15,0.1) 0px 2px 4px; */
    /*rgba(15,15,15,0.1) 0px 2px 4px;*/
    border-radius:4px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.todo.close{
    position: absolute;
    right: 1rem;
    top: 0rem;
    font-size: 2rem;
    color:#ccc ;
    cursor: pointer;
}

.todo.close:hover{
    color: #343444;
}

/* modelo css */

.btn{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn:active{
    transform: scale(0.9);
}

.modal-btn{
    background-color:transparent;
    border: none;
    font-size: 1.5rem;
}

.modal{
    width: 450px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: top 0.5s ease-in-out;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
}

.modal.active{
    top: 15%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #ccc;
}

.body{
    padding: 1rem;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

#overlay.active{
    display: block;
}

#todo_input,
#todo_submit{
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0.25rem;
}

#todo_submit{
    background-color: #4caf50;
    color: #f3f3f3;
    font-size: 1.25rem;
    border: none;
}

/* *; */
*::before
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #141313;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 60px 0;
    border-radius: 10px;
}

.timerDisplay{
    position: flex;
    width: 100%;
    background-color: #0048ce;
    /* background:linear-gradient (right,#0048ce,#008bfb,);  */
    left: -5%;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}

.buttons{
    width: 80%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #141313;
    border: none;
    font-family: 'Poppings',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
