*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul_ciano1: #001c31;
    --azul_ciano2: #143045;
    --azul_ciano3: #1430458c;
    --ciano: #01425e;
    --verde_ciano1: #00a887;
    --verde_ciano2: #09b18e;
    --branco: #fff;
    --cinza: #dddddd56;
    --preto1: #222;
    --preto2: #999;
    --preto3: #0000000d;
    --amarelo: #daa520;

    --azul: #0000ff;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ------------------------------------------------------------------------------------------------ */
/* barra de navegation */
.container{
    position: relative;
    width: 100%;
    display: flex;
}
.navegation{
    position: fixed;
    width: 75px;
    height: 100%;
    background: var(--azul_ciano1);
    border-left: 11px solid var(--azul_ciano1);
    border-right: 11px solid var(--azul_ciano1);
    transition: 0.5s;
    overflow: hidden;
}
.navegation.active{
    width: 240px;
}
.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navegation ul li{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    border-radius: 30px;
}
.navegation ul li:hover{
    background: var(--branco)
}
.navegation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navegation ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: var(--branco);
    align-items: center;
}
.navegation ul li:hover a{
    color: var(--azul_ciano2);
}
.navegation ul li a .icon{
    position: relative;
    display: block;
    min-width: 54px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navegation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navegation ul li a .title{
    position: relative;
    display: block;
    height: 60px;
    line-height:60px;
    text-align: center;
    white-space: nowrap;
    margin-left: 5px;
}
/* barra de navegation */
/* ------------------------------------------------------------------------------------------------ */
/* topbar */
.main{
    position: absolute;
    width: calc(100% - 75px);
    left: 75px;
    min-height: 100vh;
    background: var(--branco);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 230px);
    left: 240px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--preto2);
}
.search label ion-icon{
    position: absolute;
    top: -1px;
    left: 10px;
    font-size: 1.2em;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* topbar */
/* ------------------------------------------------------------------------------------------------ */
/* quadro de atividades */
.container_quadro{
    display: flex;
    flex-direction: column;
    background: var(--cinza)
}
.container_torre_quadro{
    display: block;
}
.container_PIP_quadro{
    display: block;
}
.container_DM_quadro{
    display: block;
}
.container_favorito{
    border: 1px solid var(--preto2);
    background: var(--preto3);
    margin: 15px;
}
.container_torre{
    border: 1px solid var(--preto2);
    background: var(--preto3);
    margin: 15px;
}
.container_PIP{
    border: 1px solid var(--preto2);
    background: var(--preto3);
    margin: 15px;
}
.container_DM{
    border: 1px solid var(--preto2);
    background: var(--preto3);
    margin: 15px;
}
/* quadro de atividades */
/* ------------------------------------------------------------------------------------------------ */
/* navbar add quadro */
.add_pages_list{
    margin: 15px;
}
.add_pages_list::marker{
    color: transparent;
}
.add_pages_list button:hover{
    background: var(--ciano);
    color: var(--branco);
}
.add_pages_list button{
    border: 1px solid var(--preto2);
    background: var(--preto3);
    width: 100%;
    cursor: pointer;
}
.icon_bloco{
    margin: 5px;
    font-size: 20px;
}
.title_bloco{
    font-size: 15px;
}
.pages_style_add{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* navbar add quadro */
/* ------------------------------------------------------------------------------------------------ */
/* titulo de quadro */
.title_atividade{
    margin-left: 15px;
}
.icon_atividade button{
    padding: 7px 7px;
    border: none;
    border-radius: 30px;
    background: var(--azul_ciano1);
    cursor: pointer;
    color: var(--branco);
}
.icon_atividade button i{
    margin-left: 5px;
}
.icon_atividade button:hover{
    background: var(--ciano);
    border: none;
}
.container_torre_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--preto2);
    margin-left: 15px;
    margin-right: 15px;
}
/* titulo de atividades */
/* ------------------------------------------------------------------------------------------------ */
/* atividades */
.bord_pages{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.bord_pages_list::marker{
    color: transparent;
}
.bord_pages_list{
    margin: 5px;
    transform: translate(0);
    width: 200px;
    height: 120px;
    border: 1px solid var(--preto2);
    border-radius: 20px;
    box-shadow: 0 0px 10px var(--preto2);
}
.pages_style{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    position: relative;
}
.title_pages{
    margin: 10px;
    text-decoration: none;
}
.bord_pages_list button{
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 88%;
}
.bord_pages_list button:hover{
    color: var(--amarelo);
}
.bord_pages_list a:link{
    text-decoration: none;
}
/* atividades */
/* ------------------------------------------------------------------------------------------------ */
/* add atividades */
.bord_add_pages_list{
    margin: 5px;
    transform: translate(0);
    width: 200px;
    height: 120px;
}
.bord_add_pages_list button{
    border: 1px solid var(--preto2);
    border-radius: 20px;
    background: var(--cinza);
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 0px 10px var(--preto2);
}
.bord_add_pages_list::marker{
    color: transparent;
}
.bord_add_pages_list button:hover{
    background: var(--ciano);
    color: var(--branco);
}
.add_quadro_style{
    display: flex;
    flex-direction: column;
}
.add_pag{
    font-size: 25px;
}
/* add atividades */













