*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* rosa */
    --rosa1: #ffe0e3;
    --rosa2: #ffc0c7;
    --rosa3: #ffa0ad;
    --rosa4: #ff7d93;
    --rosa5: #ff547a;
    --rosa6: #ff0062;
    --rosa7: #d11651;
    --rosa8: #a41c41;
    --rosa9: #791c32;
    --rosa10: #511823;
    --rosa11: #2c1215;
    /* rosa */
    /* ------------------------------------------------------------------------------------------------ */
    /* laranja */
    --laranja1: #ffe4d6;
    --laranja2: #ffc8ad;
    --laranja3: #ffac86;
    --laranja4: #ff8f5f;
    --laranja5: #ff7137;
    --laranja6: #ff4e00;
    --laranja7: #d14309;
    --laranja8: #a4380d;
    --laranja9: #7a2c0f;
    --laranja10: #52210d;
    --laranja11: #2d1508;
    /* laranja */
    /* ------------------------------------------------------------------------------------------------ */
    /* azul */
    --azul1: #e5f8ff;
    --azul1_transparente: #e5f8ff80;
    --azul2: #caf2ff;
    --azul2_transparente: #ccf2ff80;
    --azul3: #adebff;
    --azul3_transparente: #adebff80;
    --azul4: #8ce4ff;
    --azul4_transparente: #8ce4ff80;
    --azul5: #62ddff;
    --azul5_transparente: #62ddff80;
    --azul6: #00d6ff;
    --azul6_transparente: #00d6ff80;
    --azul7: #1cafd0;
    --azul7_transparente: #1cafd080;
    --azul8: #2389a2;
    --azul8_transparente: #2389a280;
    --azul9: #226577;
    --azul9_transparente: #22657780;
    --azul10: #1d434e;
    --azul10_transparente: #1d434e80;
    --azul11: #152429;
    --azul11_transparente: #15242980;
    /* azul */
    /* ------------------------------------------------------------------------------------------------ */
    /* roxo */
    --roxo1: #eedbff;
    --roxo2: #dcb6ff;
    --roxo3: #c792ff;
    --roxo4: #af6dff;
    --roxo5: #9445ff;
    --roxo6: #7100ff;
    --roxo7: #600fd0;
    --roxo8: #4f14a3;
    --roxo9: #3e1577;
    --roxo10: #2d134f;
    --roxo11: #1b0e2a;
    /* roxo */
    /* ------------------------------------------------------------------------------------------------ */
    /* amarelo */
    --amarelo1: #fff8dd;
    --amarelo2: #fff1ba;
    --amarelo3: #ffea98;
    --amarelo4: #ffe474;
    --amarelo5: #ffdd4c;
    --amarelo6: #ffd700;
    --amarelo7: #d0af12;
    --amarelo8: #a38a17;
    --amarelo9: #786518;
    --amarelo10: #504315;
    --amarelo11: #2b2410;
    /* amarelo */
    /* ------------------------------------------------------------------------------------------------ */
    /* padrão */
    --branco: #fff;
    --branco_transparente: #ffffff80;
    --cinzento1: #d0d0d0;
    --cinzento1_transparente: #d0d0d080;
    --cinzento2: #a2a2a2;
    --cinzento2_transparente: #a2a2a280;
    --cinzento3: #777777;
    --cinzento3_transparente: #77777780;
    --cinzento4: #4e4e4e;
    --cinzento4_transparente: #4e4e4e80;
    --cinzento5: #292929;
    --cinzento5_transparente: #29292980;
    --preto: #000000;
    /* padrão */
    /* ------------------------------------------------------------------------------------------------ */
    /* verde */
    --verde1: #e7ffde;
    --verde2: #ceffbc;
    --verde3: #b1ff9a;
    --verde4: #90ff77;
    --verde5: #66ff4f;
    --verde6: #00ff00;
    --verde7: #1ed013;
    --verde8: #24a319;
    --verde9: #247719;
    --verde10: #1f4f16;
    --verde11: #162a10;
    /* verde */
    /* ------------------------------------------------------------------------------------------------ */
    /* ciano */
    --ciano1: #d6dde2;
    --ciano2: #aebbc7;
    --ciano3: #879bab;
    --ciano4: #607c91;
    --ciano5: #395e77;
    --ciano6: #01425e;
    --ciano7: #0a384e;
    --ciano8: #0e2d3f;
    --ciano9: #0f2430;
    --ciano10: #0e1a22;
    --ciano11: #091015;
    /* ciano */
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ------------------------------------------------------------------------------------------------ */
/* barra de navegation */
.container{
    position: relative;
    width: 100%;
    display: flex;
}
.navegation{
    position: fixed;
    width: 75px;
    height: 100%;
    background: linear-gradient(var(--ciano6), var(--ciano6), var(--azul6));
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    transition: 0.5s;
    overflow: hidden;
}
.navegation.active{
    width: 240px;
}
.navegation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navegation ul li{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    border-radius: 30px;
}
.navegation ul li:hover{
    background: var(--branco)
}
.navegation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navegation ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    text-decoration: none;
    color: var(--branco);
    align-items: center;
}
.navegation ul li:hover a{
    color: var(--azul_ciano2);
}
.navegation ul li a .icon{
    position: relative;
    display: block;
    min-width: 54px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navegation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navegation ul li a .title{
    position: relative;
    display: block;
    height: 60px;
    line-height:60px;
    text-align: center;
    white-space: nowrap;
    margin-left: 5px;
}
/* barra de navegation */
/* ------------------------------------------------------------------------------------------------ */
/* topbar */
.main{
    position: absolute;
    width: calc(100% - 75px);
    left: 75px;
    min-height: 100vh;
    background: var(--cinzento1);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 230px);
    left: 240px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--branco_transparente);
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 15px;
    outline: none;
    border: 1px solid var(--cinzento2);
}
.search label ion-icon{
    position: absolute;
    top: -1px;
    left: 10px;
    font-size: 1.2em;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* topbar */
/* ------------------------------------------------------------------------------------------------ */
/* quadro de atividades */
.container_quadro{
    display: flex;
    flex-direction: column;
}
.container_torre_quadro{
    display: block;
}
.container_PIP_quadro{
    display: block;
}
.container_DM_quadro{
    display: block;
}
.container_favorito{
    border: 1px solid var(--cinzento2);
    background: var(--azul1_transparente);
    margin: 15px;
    box-shadow: 0 0 15px var(--cinzento2);
}
.container_torre{
    border: 1px solid var(--cinzento2);
    background: var(--azul1_transparente);
    margin: 15px;
    box-shadow: 0 0 15px var(--cinzento2);
}
.container_PIP{
    border: 1px solid var(--cinzento2);
    background: var(--azul1_transparente);
    margin: 15px;
    box-shadow: 0 0 15px var(--cinzento2);
}
.container_DM{
    border: 1px solid var(--cinzento2);
    background: var(--azul1_transparente);
    margin: 15px;
    box-shadow: 0 0 15px var(--cinzento2);
}
/* quadro de atividades */
/* ------------------------------------------------------------------------------------------------ */
/* navbar add quadro */
.add_pages_list{
    margin: 15px;
}
.add_pages_list::marker{
    color: transparent;
}
.add_pages_list button:hover{
    background: var(--azul2_transparente);
}
.add_pages_list button{
    border: 1px solid var(--cinzento2);
    background: var(--azul1_transparente);
    width: 100%;
    cursor: pointer;
    box-shadow: 0 0 15px var(--cinzento2);
}
.icon_bloco{
    margin: 5px;
    font-size: 20px;
}
.title_bloco{
    font-size: 15px;
}
.pages_style_add{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* navbar add quadro */
/* ------------------------------------------------------------------------------------------------ */
/* titulo de quadro */
.title_atividade{
    margin-left: 15px;
}
.icon_atividade button{
    padding: 7px 7px;
    border: none;
    border-radius: 30px;
    background: var(--ciano6);
    cursor: pointer;
    color: var(--branco);
}
.icon_atividade button i{
    margin-left: 5px;
}
.icon_atividade button:hover{
    background: var(--ciano5);
    border: none;
}
.container_torre_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--cinzento1);
    margin-left: 15px;
    margin-right: 15px;
}
/* titulo de atividades */
/* ------------------------------------------------------------------------------------------------ */
/* atividades */
.bord_pages{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.bord_pages_list::marker{
    color: transparent;
}
.bord_pages_list{
    margin: 5px;
    transform: translate(0);
    width: 200px;
    height: 120px;
    border: 1px solid var(--cinzento2);
    border-radius: 20px;
    box-shadow: 0 0px 10px var(--cinzento2);
}
.pages_style{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    position: relative;
}
.title_pages{
    margin: 10px;
    text-decoration: none;
}
.bord_pages_list button{
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 88%;
}
.bord_pages_list button:hover{
    color: var(--amarelo7);
}
.bord_pages_list a:link{
    text-decoration: none;
}
/* atividades */
/* ------------------------------------------------------------------------------------------------ */
/* add atividades */
.bord_add_pages_list{
    margin: 5px;
    transform: translate(0);
    width: 200px;
    height: 120px;
}
.bord_add_pages_list button{
    border: 1px solid var(--cinzento2);
    border-radius: 20px;
    background: var(--cinzento1);
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 0px 10px var(--cinzento2);
}
.bord_add_pages_list::marker{
    color: transparent;
}
.bord_add_pages_list button:hover{
    background: var(--cinzento2);
}
.add_quadro_style{
    display: flex;
    flex-direction: column;
}
.add_pag{
    font-size: 25px;
}
/* add atividades */
/* ------------------------------------------------------------------------------------------------ */
/* tela add quadro */












